/* CSS declarations go here */
div#index {
  float: right;
  width: 200px;
}

li.slide-entry.current {
  background: #fda;
}

li.slide-entry.client_current {
  background: #bbf;
}

li.slide-entry {
  list-style-type: none;
  padding: 5px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

li.slide-entry .admin-control {
  float: right;
}

#index ul {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#index h3 {
  margin: 10px 25px 10px 15px;
}

div#main-slide {
  font-size: +3;
  margin: 0 25px;
}

a#new-slide {
  margin: 15px 20px;
  display: block;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #555;
}

#title-box {
  width: 80%;
}

#body-box {
  width: 80%;
  height: 100%;
}
