/* CSS declarations go here */
div#index {
  float: right;
  width: 200px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: solid black 3px;
}

li.slide-entry.current {
  border: solid green 2px;
}

li.slide-entry {
  list-style-type: none;
  margin: 10px;
}

#index ul {
  margin: 10px;
  padding: 0;
}

h1 {
  text-align: center;
}

div#main-slide {
  font-size: +3;
}
