<head>
  <title>liveslides</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class='container-fluid'>
    <div class="row-fluid">
    {{> content}}
  </div>
  </div>
</body>

<template name="content">
  {{#if has_show}}
    {{#if auth_page}}
      {{> auth}}
    {{else}}
    <div class="span9">
      {{#if has_current}}
        {{> current_slide}}
      {{else}}
        {{> slideshow_landing}}
      {{/if}}
    </div>
    <div class="span3">
      {{> slide_list}}
    </div>
    {{/if}}
  {{else}}
    {{> slideshows}}
  {{/if}}
</template>
<template name="auth">
  <div>
    {{#if has_passcode}}
      <h1> {{passcode}}</h1>
      <span>You will need to enter this code in the future in order to edit slides.</span>
      <span>Someday meteor will have auth working for real, this is just a temporary thing.</span>
    {{else}}
      <span> Please enter your passcode to edit the show</span>
      <input id='auth_input' placeholder='purple-monkeyshit' />
      <input id='auth_submit' type='button' value='submit' />
    {{/if}}
  </div>
</template>
<template name="slideshows">
  <div id='all_shows'>
    <div id='new_show'>
      <button class='button big'>New Slideshow</button>
    </div>
    {{#each shows}}
      {{> show}}
    {{/each}}
  </div>
</template>
<template name="show">
  <div class='slideshow'>
    <span id='slide-title'>
      {{title}}
    </span>
    <span class='body'>
      {{#markdown}}{{body}}{{/markdown}}
    </span>
  </div>
</template>
<template name="slide_list">
  <div id="index">
    <h3>Slides</h3>
    <ul class="unstyled">
      <li class='first{{no_current}}' >
        <span class='order'> 0 </span>
        <span id='show-title'>
          {{show_title}}
        </span>
      </li>
      {{#each slides}}
      <li class="slide-entry{{is_current}}{{is_client_current}}{{is_future}}" id="{{_id}}">
        <span class='order'>
          {{order}}
        </span>
        <span class='title'>
          {{title}}
        </span>
        {{#if admin}}
        <span class='admin-control'>
          <a href="#" class="admin-prev"><img src="/images/arrow_up.png" /></a>
          <a href="#" class="admin-next"><img src="/images/arrow_down.png" /></a>
          <a href="#" class="admin-delete"><img src="/images/delete.png" /></a>
        </span>
        {{/if}}
      </li>
      {{/each}}
    </ul>
    {{#if admin}}
      <a href="#" id="new-slide">another!</a>
    {{/if}}
  </div>
</template>

<template name="current_slide">
  {{#with slide}}
  <div id="main-slide">
    <div class="slide">
      <h1 id="slide-title">{{title}}</h1>
      <div id="slide-body">
        {{#if editing_body}}
          {{> edit_body}}
        {{else}}
          {{#markdown}}{{{body}}}{{/markdown}}
        {{/if}}
      </div>
    </div>
  </div>
  {{/with}}
  {{prettify}}
</template>
<template name="slideshow_landing">
<div>
  {{#with slideshow}}
  <h1 id='show-title'>{{title}}</h1>
  <div id='show-body'>
    {{#if editing_body}}
      {{> edit_body}}
    {{else}}
      {{#markdown}}{{{body}}}{{/markdown}}
    {{/if}}
  </div>
  {{/with}}
</div>
</template>

<template name="edit_body">
  <div><textarea rows="25" cols="80" id="body-box">{{body}}</textarea></div>
</template>

<template name="edit_slide">
  <div id="edit-slide">
    <div><input type="text" id="title-box" value="{{title}}" /></div>
    <div><textarea rows="25" cols="80" id="body-box">{{body}}</textarea></div>
  </div>
</template>
