<head>
  <title>liveslides</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class='container-fluid'>
    <div class="row-fluid">
    {{> content}}
  </div>
  </div>
</body>

<template name="content">
  {{#if has_show}}
    {{#if auth_page}}
      {{> auth}}
    {{else}}
    <div class="span9">
      {{> slide_or_slideshow}}
    </div>
    <div class="span3">
      {{> slide_list}}
    </div>
    {{/if}}
  {{else}}
    {{> slideshows}}
  {{/if}}
</template>
<template name="auth">
  <div>
    {{#if has_passcode}}
      <div class="hero-unit">
        <h1>{{passcode}}</h1>
        <p>You will need to enter this code in the future in order to edit slides.</p>
        <p>Someday meteor will have auth working for real, this is just a temporary thing.</p>
        <p>
          <input id='ok' class="btn btn-primary btn-large" type='button' value='OK, take me to the show!' />
        </p>
      </div>
    {{else}}
      <div class="hero-unit">
        <h2> Please enter your passcode to edit the show</h2>
        <p>
          <input id='auth_input' />
          <input id='auth_submit' class="btn btn-primary btn-large" type='button' value='Authorize that' />
        </p>
      </div>
    {{/if}}
  </div>
</template>
<template name="slideshows">
  <button class='button big'>New Slideshow</button>
  <div id='all_shows'>
    {{#each shows}}
      {{> show}}
    {{/each}}
  </div>
</template>
<template name="show">
  <div class='slideshow'>
    <span id='slide-title'>
      {{title}}
    </span>
    <span class='body'>
      {{#markdown}}{{body}}{{/markdown}}
    </span>
  </div>
</template>
<template name="slide_list">
  <div id="index">
    <h3>Slides</h3>
    <ol start='0' id='slide_index'>
      <li class='first{{no_current}}' >
        {{show_title}}
      </li>
      {{#each slides}}
        {{> index_slide}}
      {{/each}}
    </ol>
    {{#if admin}}
      <input type='button' class='btn btn-primary' id='new-slide' value='Another!' />
      <input type='button' class='btn btn-success' id='presentation-mode' value='Present' />
      <input type='button' class='btn btn-danger' id='remove-show' value='Destroy' />
    {{/if}}
  </div>
</template>
<template name="index_slide">
  <li class="slide-entry{{is_current}}{{is_client_current}}{{is_future}}" id="{{_id}}">
    {{title}}
    {{#if admin}}
      <a href="#" class="admin-delete"><img class='delete' src="/images/delete.png" /></a>
    {{/if}}
  </li>
</template>
<template name="slide_or_slideshow">
  {{#if show_home}}
    {{#with slideshow}}
      {{> current_slide}}
    {{/with}}
  {{else}}
    {{#with slide}}
      {{> current_slide}}
    {{/with}}
  {{/if}}
</template>
<template name="current_slide">
  <h1 id="slide-title">{{title}}</h1>
  <div id="slide-body">
    {{#if editing_body}}
      {{> edit_body}}
      {{#if admin}}
      <input id='save-button' type='button' class='btn btn-warning' value='Save' />
      <input id='cancel-button' type='button' class='btn btn-warning' value='Cancel' />
      {{/if}}
    {{else}}
      {{#markdown}}{{{body}}}{{/markdown}}
      {{#if admin}}
      <input id='edit-button' type='button' class='btn btn-warning' value='Edit body' />
      {{/if}}
    {{/if}}
  </div>
  {{prettify}}
</template>

<template name="edit_body">
  <textarea id="body-box">{{body}}</textarea>
</template>
