<head>
  <title>liveslides</title>
</head>

<body>
  {{> slide_list}}
  {{> current_slide}}
</body>

<template name="slide_list">
  <div id="index">
    <h3>Slides</h3>
    <ul>
      {{#each slides}}
      <li class="slide-entry{{is_current}}{{is_client_current}}" id="{{_id}}">
        {{title}}
        {{#if admin}}
          <a href="#" class="admin-control admin-delete"><img src="images/delete.png" /></a>
          <a href="#" class="admin-control admin-next"><img src="images/arrow_down.png" /></a>
          <a href="#" class="admin-control admin-prev"><img src="images/arrow_up.png" /></a>
        {{/if}}
      </li>
      {{/each}}
    </ul>
    {{#if admin}}
      <a href="#" id="new-slide">another!</a>
    {{/if}}
  </div>
</template>

<template name="current_slide">
  {{#with slide}}
  <div id="main-slide">
    <div class="slide">
      <h1 id="slide-title">{{title}}</h1>
      <div id="slide-body">
        {{{html_body}}}
      </div>
    </div>
  </div>
  {{/with}}
</template>

<template name="edit_slide">
  <div id="edit-slide">
    <div><input type="text" id="title-box" value="{{title}}" /></div>
    <div><textarea rows="25" cols="80" id="body-box">{{body}}</textarea></div>
  </div>
</template>
